// COLORS
$color-primary: #FFCC00;
$color-secondary: #284461;
$color-tertiary: #C8C8C8;

$color-white: #fff;

// Gradients
$gradient-bg: linear-gradient(to bottom right, #0069D8, #265585 60%, #A80080);
$gradient-highlight: linear-gradient(to top right, #10C3F0,  rgba(#265585, .57), rgba(#3E7BE1, 0));


