.cta {
	display: grid;
	position: relative;

	&__deposit-btn {
		margin-top: -2.5rem;
		margin-bottom: 2rem;
		padding: 3rem 4vw 2rem 4vw;
		font-family: "Graduate", sans-serif;
		text-transform: uppercase;
		//font-size: 4.6rem;
		font-size: 2.8vw;

		clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);

		@include respond('phone') {
			font-size: 6vw;
			padding: 3rem 10vw 2rem 10vw;
		}

		&:hover {

		}

		&:active {

		}
	}
}