.promo-code {
	position: relative;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	width: 88%;
	margin: auto;
	text-transform: uppercase;
	margin-top: 2rem;

	&__copy-btn {
		background-color: $color-tertiary;
		padding: 1rem 2rem 3rem 2rem;
		//font-size: 2rem;
		font-size: 1.3vw;
		text-transform: uppercase;

		@include respond('phone') {
			font-size: 3vw;
		}
	}

	&__code {
		background-color: $color-primary;
		padding: 1rem 2rem 3rem 2rem;
		//font-size: 2rem;
		font-size: 1.3vw;

		@include respond('phone') {
			font-size: 3vw;
		}
	}
}